---
import Layout from '../layouts/Layout.astro';
import data from '../static/data.json';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ImgIco from '../components/ImgIco.astro';
---

<Layout>
    <Header />
    <main class="container py-8">
        <h1 class="text-4xl font-bold tracking-tight lg:text-5xl lg:leading-[3.5rem] mb-6">Biggest GPTs Store</h1>
        <div class="text-md text-muted-foreground">{data.length} GPTs found and counting.</div>
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 py-8">
            {data.map(item => (
                <a class="flex gap-3 bg-white rounded-2xl p-5 items-start cursor-pointer select-none group hover:shadow-lg dark:bg-black/50" target="_blank" href={item.url}>
                    <ImgIco icon={item.icon} title={item.title} />
                    <div class="flex-1">
                        <h3 class="font-medium text-gray-900 dark:text-gray-50 text-lg transition group-hover:text-[#0b7b94] dark:group-hover:text-[#6cc3d7]">
                            {item.title}
                        </h3>
                        {item.author && <p class="opacity-70 text-sm mt-1">by <span class="text-[#0b7b94] dark:text-[#64aebf]">{item.author}<span></p>}
                        <p class="text-gray-500 mt-1 dark:text-gray-400">
                            {item.desc}
                        </p>
                    </div>
                </a>
            ))}
        </div>
    </main>
    <Footer />
</Layout>

<style></style>
