---
import ImgIco from '../components/ImgIco.astro';

export interface Props {
	item: any;
}
const { item } = Astro.props
---

<a
	class="flex gap-3 bg-white rounded-2xl p-5 items-start cursor-pointer select-none overflow-hidden group hover:shadow-lg dark:bg-black/50 dark:hover:shadow-slate-800"
	href={`/gpts-store/${item.search_key}`}
>
	<ImgIco icon={item.icon} title={item.title} />
	<div class="w-0 flex-1">
		<h3 class="font-medium truncate text-gray-900 dark:text-gray-50 text-sm md:text-lg  transition group-hover:text-[#0b7b94] dark:group-hover:text-[#6cc3d7]">
			{item.title}
		</h3>
		{item.author && <p class="opacity-70 truncate text-xs md:text-sm mt-1">by <span class="text-black underline dark:text-white">{item.author}<span></p>}
		<p class="text-gray-600 mt-1 text-xs md:text-sm dark:text-gray-400">
			{item.description}
		</p>
	</div>
</a>
