---
import Card from '../components/Card.astro';
let lists = [];
let pageSize = 30;
let count = 0;
const searchVal = Astro.url.searchParams.get('s') || '';
try {
    const response = await fetch(`${Astro.url.origin}/api/get?keyword=${searchVal}`);
    if (response.ok) {
        const json = await response.json();
        lists = json.data.lists;
        pageSize = json.data.page_size;
    }
    const countRes = await fetch(`${Astro.url.origin}/api/get-count?keyword=${searchVal}`);
    if (countRes.ok) {
        const json = await countRes.json();
        count = +json.data.count;
    }
} catch (error) {
    //
}
---

<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 py-4" id="lists">
    {lists.length ? lists.map((item: any) => <Card item={item} />) : <div class="text-center md:col-span-3 sm:col-span-2 py-4">Can't find the "{searchVal}" GPTs</div>}
    {count > pageSize && <div class="md:col-span-3 sm:col-span-2 text-center">
        <button id="more" class="font-bold py-2 px-4 rounded-full hover:bg-green-400/10 text-green-800 dark:text-green-400/50 [&_svg]:animate-spin" data-val={searchVal}>Load More</button>
    </div>}
</div>
